* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    height: 1rem;
}

:root {
    --white: #FFFFFF;
    --black: #121212;
    --lightbrown: #9D9178;
    --lightgray: #EEEEEE;
}

/* Navbar */

.navbar {
    background: var(--white);
}

.navbar p {
    margin: 1rem;
    font-size: 14px;
    margin-left: 10rem;
}

.navbar img {
    margin: 1rem 2rem;
    margin-left: -7rem;
    cursor: pointer;
}

.navbar a {
    padding: 1rem 2rem;
    color: var(--white);
    text-decoration: none;
    background: var(--lightbrown);
    margin-right: 20rem;
    border-radius: 10px;
    transition: .5s;
}

.navbar a:hover {
    color: var(--white);
    background: var(--black);
}

/* Cover */

.cover img {
    width: 96rem;
    height: 50rem;
}

.cover h1 {
    color: var(--white);
    font-weight: bolder;
    font-size: 8rem;
    text-align: center;
    margin-top: -34rem;
}

.cover p {
    color: var(--white);
    margin-top: -3rem;
    padding-bottom: .5rem;
    font-size: 3rem;
    text-align: center;
}

.cover h5 {
    color: var(--white);
    text-align: center;
    margin-top: -2rem;
    padding-bottom: 1rem;
}

.cover a {
    padding: 1rem 2rem;
    color: var(--white);
    text-decoration: none;
    margin-left: 41rem;
    background: var(--lightbrown);
    margin-right: 20rem;
    border-radius: 10px;
    transition: .5s;
}

.cover a:hover {
    color: var(--black);
    background: var(--white);
}

/* Rooms */

.rooms img {
    width: 50rem;
    height: 30rem;
    margin-left: 1rem;
    margin-top: 20rem;
}

.rooms h1 {
    margin-top: -24rem;
    margin-left: 55rem;
    font-size: 24px;
    color: var(--lightbrown);
}

.rooms h2 {
    margin-left: 55rem;
    font-size: 30px;
    font-weight: bolder;
    color: var(--lightbrown);
}

.rooms p {
    width: 35rem;
    text-align: justify;
    margin-left: 55rem;
    font-size: 20px;
}

.rooms a {
    padding: 1rem 3rem;
    color: var(--white);
    text-decoration: none;
    margin-left: 55rem;
    background: var(--lightbrown);
    margin-right: 20rem;
    border-radius: 10px;
    transition: .5s;
}

.rooms a:hover {
    color: var(--white);
    background: var(--black);
}

/* Dining */

.dining img {
    float: right;
    width: 50rem;
    height: 30rem;
    margin-right: 1rem;
    margin-top: -5rem;
}

.dining h1 {
    margin-top: 15rem;
    margin-left: 8rem;
    font-size: 24px;
    color: var(--lightbrown);
}

.dining h2 {
    margin-left: 8rem;
    font-size: 30px;
    font-weight: bolder;
    color: var(--lightbrown);
}

.dining h3 {
    margin-left: 8rem;
    font-size: 20px;
    font-weight: bolder;
    color: var(--lightbrown);
}

.dining p {
    width: 30rem;
    margin-left: 8rem;
    text-align: justify;
    font-size: 20px;
}

.dining a {
    padding: 1rem 2rem;
    background: var(--lightbrown);
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    margin-left: 8rem;
    transition: .5s;
}

.dining a:hover {
    color: var(--white);
    background: var(--black);
}


/* Banquets */

.banquets img {
    width: 50rem;
    height: 30rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.banquets h1 {
    margin-top: -24rem;
    margin-left: 55rem;
    font-size: 24px;
    color: var(--lightbrown);
}

.banquets h2 {
    margin-left: 55rem;
    font-size: 30px;
    font-weight: bolder;
    color: var(--lightbrown);
}

.banquets p {
    width: 35rem;
    text-align: justify;
    margin-left: 55rem;
    font-size: 20px;
}

.banquets a {
    padding: 1rem 2rem;
    background: var(--lightbrown);
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    margin-left: 55rem;
    transition: .5s;
}

.banquets a:hover {
    color: var(--white);
    background: var(--black);
}

/* Map */

.map h2 {
    color: var(--lightbrown);
    font-weight: bolder;
    margin-top: 20rem;
    margin-left: 5rem;
}

.map p {
    width: 35rem;
    text-align: justify;
    margin-left: 5rem;
    font-size: 24px;
}

iframe {
    float: right;
    width: 50rem;
    height: 30rem;
    margin-right: 1rem;
    margin-top: -20rem;
}

.map a {
    padding: 1rem 2rem;
    background: var(--lightbrown);
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    margin-left: 5rem;
    transition: .5s;
}

.map a:hover {
    color: var(--white);
    background: var(--black);
}


/* Footer */

.footer {
    margin-top: 10rem;
    background: var(--lightgray);
    padding-bottom: 1rem;
}

.footer img {
    width: 20rem;
    margin-left: 37rem;
    margin-top: 1rem;
}

.footer p {
    text-align: center;
    line-height: 1rem;
}

.foot p {
    text-align: center;
    background: var(--lightbrown);
    padding: 1rem 2rem;
    color: var(--white);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

/* End Code */