* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --brown: #9D9178;
  --lightgray: #EEEEEE;
}

body {
  height: 1rem;
}

.header .head-section {
  display: flex;
  margin: 1rem 10rem;
  align-items: center;
}
.header .head-section p, .header .head-section img, .header .head-section a {
  margin: 0 2rem;
}
.header .head-section p {
  font-size: 10px;
}
.header .head-section .btn-header a {
  background: var(--brown);
  padding: 0.5rem 3rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
.header .head-section .btn-header a:hover {
  background: var(--black);
}

.cover .cover-section img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  z-index: -10;
}
.cover .cover-details {
  text-align: center;
  padding: 16rem 0;
}
.cover .cover-details h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--white);
}
.cover .cover-details h2 {
  font-style: italic;
  color: var(--white);
}
.cover .cover-details p {
  color: var(--white);
}
.cover .cover-details .btn-cover a {
  background: var(--brown);
  padding: 0.5rem 3rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
.cover .cover-details .btn-cover a:hover {
  background: var(--black);
}

.content .content-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 10rem;
}
.content .content-section .content-section-left {
  margin: 1rem 3rem;
}
.content .content-section .content-section-left img {
  width: 40rem;
}
.content .content-section .content-section-right {
  color: var(--brown);
}
.content .content-section .content-section-right p {
  font-size: 20px;
}
.content .content-section .content-section-right h1 {
  font-size: 30px;
  font-weight: bolder;
}
.content .content-section .content-section-right h5 {
  font-size: 20px;
  color: var(--black);
  font-weight: 300;
}
.content .content-section .content-section-right .btn-content {
  margin: 2rem 0;
}
.content .content-section .content-section-right .btn-content a {
  background: var(--brown);
  padding: 0.5rem 3rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
.content .content-section .content-section-right .btn-content a:hover {
  background: var(--black);
}

.explore .explore-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 10rem;
}
.explore .explore-section .explore-left {
  color: var(--brown);
}
.explore .explore-section .explore-left h1 {
  font-size: 30px;
  font-weight: bolder;
}
.explore .explore-section .explore-left h5 {
  font-size: 20px;
  color: var(--black);
  font-weight: 300;
}
.explore .explore-section .explore-left .btn-explore {
  margin: 2rem 0;
}
.explore .explore-section .explore-left .btn-explore a {
  background: var(--brown);
  padding: 0.5rem 3rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
.explore .explore-section .explore-left .btn-explore a:hover {
  background: var(--black);
}

.footer {
  background: var(--lightgray);
  padding: 1rem 10rem;
}
.footer .footer-section {
  text-align: center;
}
.footer .footer-section img {
  width: 20rem;
}

.footer-details {
  background: var(--brown);
}
.footer-details p {
  text-align: center;
  padding: 1rem 0;
  color: var(--white);
}